// Colors Palette
// Material design colors were used for simplicity

$primary: #3C948B;
$primary-variant: #3700B3;
$primary-variant-2: #BB86FC;
$secondary: #03DAC6;
$secondary-variant: #3C948B;
$background: #FFF;
$primary-background: #3F3F3F;
$surface: #FFF;
$error: #B00020;
$on-primary: #FFF;
$on-secondary: #000;
$on-background: #000;
$on-surface: #000;
$on-error: #000;
$text: #111;


