// Basically for fonts the mixin should be created where
// font can be loaded as font($primary, $bold)

// By time limit just create font-weight alias

$primary-regular: 300;
$primary-semibold: 400;
$primary-bold: 500;
