@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_fonts.scss';

.header {
  padding: 20px 15px;
  background-color: $primary;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include breakpoint($above_small) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.header__title {
  color: $on_primary;
  font-weight: $primary-semibold;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: baseline;
  width: 100%;

  @include breakpoint($above_small) {
    flex-direction: row;
    width: auto;
  }
}
.menu__links a {
  margin: 10px;
}

.menu__links button {
  width: 100%;
}
